In [1]:
#Dependencies
import pandas as pd
import random
import numpy as np
import matplotlib.pyplot as plt
import requests
import json
import time

Rafael

Arghavan

In [2]:
#Cleaning Happiness DF
Happiness =  pd.read_csv('Resources/WorldHappinessReport.csv')
Happiness_New = Happiness.drop(columns=['Delivery Quality', 'Democratic Quality', 
                                        'Standard deviation of ladder by country-year',
                                        'Standard deviation/Mean of ladder by country-year',
                                        'GINI index (World Bank estimate)', 'GINI index (World Bank estimate), average 2000-15',
                                        'gini of household income reported in Gallup, by wp5-year'])

Happiness_Updated = Happiness_New.loc[Happiness_New["year"]==2016,:]
Happiness_Olympics = Happiness_Updated.dropna()
Happiness_Olympics.head()

,country,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,Confidence in national government
8,Afghanistan,2016,4.220169,7.461401,0.559072,52.016529,0.522566,0.057072,0.793246,0.564953,0.348332,0.324990
18,Albania,2016,4.511101,9.337774,0.638411,68.871811,0.729819,-0.023276,0.901071,0.675244,0.321706,0.400910
40,Argentina,2016,6.427221,9.824955,0.882819,67.398514,0.847702,-0.191952,0.850924,0.841907,0.311646,0.419562
52,Armenia,2016,4.325472,9.010698,0.709218,64.962730,0.610987,-0.158839,0.921421,0.593600,0.437228,0.184713
63,Australia,2016,7.250080,10.701311,0.942334,72.650337,0.922316,0.223268,0.398545,0.790868,0.236086,0.452732

In [3]:
#Cleaning Olympics DF
CSV_athletes = pd.read_csv("Resources/120-years-of-olympic-history-athletes-and-results/athlete_events.csv")
CSV_countries =  pd.read_csv("Resources/120-years-of-olympic-history-athletes-and-results/noc_regions.csv")
CSV_athletes = CSV_athletes.drop(columns=['Season', 'City', 'Height', 'Weight'])
CSV_athletes = CSV_athletes.loc[CSV_athletes["Year"]==2016,:]
CSV_athletes_updated = CSV_athletes.fillna("none")
merged_athletes = pd.merge(CSV_athletes_updated, CSV_countries, on = "NOC", how = "left")
merged_athletes = merged_athletes.drop(columns = ['NOC', 'notes'])
merged_athletes1 = merged_athletes.rename(columns= {"region" : "country"})

merged_athletes2 = merged_athletes1.groupby(merged_athletes1["country"])
Final_athletes = merged_athletes2["Name"].count()
Final_df = pd.DataFrame(Final_athletes)
Final_df = Final_df.rename(columns= {"Name" : "Number of Athletes"})
Final_df.head()

                Number of Athletes
country
Afghanistan                      3
Albania                          6
Algeria                         74
American Samoa                   4
Andorra                          4

In [4]:
#Creating Final DF
Athlete_Happiness = pd.merge(Final_df, Happiness_Olympics, on = "country")
Athlete_Happiness.to_csv("Outputs/Athlete_Happiness.csv")

Shayan

In [21]:
happiness_df = pd.read_csv("Resources/WorldHappinessReport.csv")
tourism_df = pd.read_csv("Resources/Tourism.csv", skiprows=3)
happiness17_df = happiness_df.loc[(happiness_df["year"] == 2017)]
happiness_score = happiness17_df[["country", "Life Ladder"]]
happiness_score.columns = ["Country Name", "Happines Score"]
tourism_number = tourism_df[["Country Name", "2017"]]
tourism_number = tourism_number.fillna(0)
merge_table = pd.merge(happiness_score, tourism_number, on = "Country Name")
merge_table.to_csv("Outputs/Tourism_Happiness.csv")

Mariana

In [3]:
#create a dataframe from file 
file = 'Resources/Capitals.csv'
#read the CSV in pandas
weather = pd.read_csv(file, encoding="ISO-8859-1")
weather.reset_index(inplace=True)
weather.columns

Index(['index', 'Country', 'Cities', 'Country Code'], dtype='object')

In [6]:
# set up additional columns to hold information
weather['Temperature'] = ""
base_url = "http://api.openweathermap.org/data/2.5/weather?"
#print(response['main']['temp'])
# use iterrows to iterate through pandas dataframe
for index, row in weather.iterrows():

    # iterate thru each row of the file
    city = row['Cities']
    url = base_url + "appid=" + "082ff2cde1d396b2b896b2335daad199" + "&q=" + city +"&units=imperial"

# assemble url and make API request
    response = requests.get(url).json()
  
    #update the dataframe 
    try:
        weather.loc[index, 'Temperature'] = response['main']['temp']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

In [8]:
weather.head()

   index      Country            Cities Country Code Temperature
0      0  Afghanistan             Kabul           AF          59
1      1      Albania   Tirana (Tirane)           AL
2      2      Algeria           Algiers           DZ       69.87
3      3      Andorra  Andorra la Vella           AD       44.47
4      4       Angola            Luanda           AO        78.8

Sandra