In [45]:
import pandas as pd

In [46]:
#create a dataframe from a file using pandas
file = 'Resources/CountryCodesLookup.csv'
#upload country lookup
Countries=pd.read_csv(file,encoding="ISO-8859-1")
#upload dates to look for top songs
spDates= pd.read_csv('Resources/DatesForSpotifyTopSongs.csv')
Countries.columns

Index(['COUNTRY', 'A2 (ISO)', 'A3 (UN)', 'NUM (UN)', 'DIALING CODE',
       'spotifyFlag'],
      dtype='object')

In [54]:
#filter by countries in spotify
spCountries = Countries.loc[Countries["spotifyFlag"] == 1,["COUNTRY","A2 (ISO)"]]

# make a list of countries by dates to get their top 200 songs
#cross join
spCountries["Key"]=1
spDates["Key"]=1
spCountries["Processed"]=0
CountryDate = pd.merge(spCountries, spDates, on="Key").reset_index(drop=True)
#.head(1)
#CountryDate

In [63]:
CountryDate

           COUNTRY A2 (ISO)  Key  Processed   startDate     EndDate
0        Argentina       AR    1          1  2018-01-15  2018-01-15
1        Argentina       AR    1          1  2018-02-15  2018-02-15
2        Argentina       AR    1          1  2018-03-15  2018-03-15
3        Argentina       AR    1          1  2018-04-15  2018-04-15
4        Argentina       AR    1          1  2018-05-15  2018-05-15
5        Argentina       AR    1          1  2018-06-15  2018-06-15
6        Argentina       AR    1          1  2018-07-15  2018-07-15
7        Argentina       AR    1          1  2018-08-15  2018-08-15
8        Argentina       AR    1          1  2018-09-15  2018-09-15
9        Argentina       AR    1          1  2018-10-15  2018-10-15
10       Argentina       AR    1          1  2018-11-15  2018-11-15
11       Argentina       AR    1          1  2018-12-15  2018-12-15
12       Australia       AU    1          1  2018-01-15  2018-01-15
13       Australia       AU    1          1  2018-02-15  2018-02-15
14       Australia       AU    1          1  2018-03-15  2018-03-15
15       Australia       AU    1          1  2018-04-15  2018-04-15
16       Australia       AU    1          1  2018-05-15  2018-05-15
17       Australia       AU    1          1  2018-06-15  2018-06-15
18       Australia       AU    1          1  2018-07-15  2018-07-15
19       Australia       AU    1          0  2018-08-15  2018-08-15
20       Australia       AU    1          0  2018-09-15  2018-09-15
21       Australia       AU    1          0  2018-10-15  2018-10-15
22       Australia       AU    1          0  2018-11-15  2018-11-15
23       Australia       AU    1          0  2018-12-15  2018-12-15
24         Austria       AT    1          0  2018-01-15  2018-01-15
25         Austria       AT    1          0  2018-02-15  2018-02-15
26         Austria       AT    1          0  2018-03-15  2018-03-15
27         Austria       AT    1          0  2018-04-15  2018-04-15
28         Austria       AT    1          0  2018-05-15  2018-05-15
29         Austria       AT    1          0  2018-06-15  2018-06-15
..             ...      ...  ...        ...         ...         ...
714  United States       US    1          0  2018-07-15  2018-07-15
715  United States       US    1          0  2018-08-15  2018-08-15
716  United States       US    1          0  2018-09-15  2018-09-15
717  United States       US    1          0  2018-10-15  2018-10-15
718  United States       US    1          0  2018-11-15  2018-11-15
719  United States       US    1          0  2018-12-15  2018-12-15
720        Uruguay       UY    1          0  2018-01-15  2018-01-15
721        Uruguay       UY    1          0  2018-02-15  2018-02-15
722        Uruguay       UY    1          0  2018-03-15  2018-03-15
723        Uruguay       UY    1          0  2018-04-15  2018-04-15
724        Uruguay       UY    1          0  2018-05-15  2018-05-15
725        Uruguay       UY    1          0  2018-06-15  2018-06-15
726        Uruguay       UY    1          0  2018-07-15  2018-07-15
727        Uruguay       UY    1          0  2018-08-15  2018-08-15
728        Uruguay       UY    1          0  2018-09-15  2018-09-15
729        Uruguay       UY    1          0  2018-10-15  2018-10-15
730        Uruguay       UY    1          0  2018-11-15  2018-11-15
731        Uruguay       UY    1          0  2018-12-15  2018-12-15
732       Viet Nam       VN    1          0  2018-01-15  2018-01-15
733       Viet Nam       VN    1          0  2018-02-15  2018-02-15
734       Viet Nam       VN    1          0  2018-03-15  2018-03-15
735       Viet Nam       VN    1          0  2018-04-15  2018-04-15
736       Viet Nam       VN    1          0  2018-05-15  2018-05-15
737       Viet Nam       VN    1          0  2018-06-15  2018-06-15
738       Viet Nam       VN    1          0  2018-07-15  2018-07-15
739       Viet Nam       VN    1          0  2018-08-15  2018-08-15
740       Viet Nam       VN    1          0  2018-09-15  2018-09-15
741       Viet Nam       VN    1          0  2018-10-15  2018-10-15
742       Viet Nam       VN    1          0  2018-11-15  2018-11-15
743       Viet Nam       VN    1          0  2018-12-15  2018-12-15

[744 rows x 6 columns]

In [244]:
#extract top200 solgs for the countries and dates determined in CountryDate dataframe
#looping is not supported, I have to do line by line, so make a variable to 
#this step has to be restarted as many times as it fails until we finish processing all rows, dicarding rows errors 
#in case of failure, excude last processed row

spCountriesToProcess = CountryDate.loc[(CountryDate["Processed"] == 0) & (CountryDate["COUNTRY"]!='RO' ),:]


from fycharts import SpotifyCharts 
api = SpotifyCharts.SpotifyCharts()


# use iterrows to iterate through pandas dataframe
for index, row in spCountriesToProcess.iterrows():

    # iterate thru each row of the file
    countryCode = str.lower(row['A2 (ISO)'])
    startDate=row["startDate"]
    EndDate=row["EndDate"]
    
    #get data
    print(startDate)  
    print (countryCode)
    CountryDate.loc[index, 'Processed'] = 1
    CountryDate.loc[index+1, 'Processed'] = 1
       
    api.viral50Daily(output_file = 'SpotifyTopSongsByCountry.csv', start=startDate, end=EndDate, region=countryCode)

In [ ]:
start - Start date of range of interest as string YYYY-MM-DD
end - End date of range of interest as string YYYY-MM-DD

In [36]:

from fycharts import SpotifyCharts 
api = SpotifyCharts.SpotifyCharts()


api.viral50Daily(output_file = 'top_200_daily.csv', start='2018-01-15', end='2018-01-15',region='co')

INFO : 04/04/2019 06:44:49 PM : Extracting viral 50 daily for 2018-01-15 - co
INFO : 04/04/2019 06:44:50 PM : Appending data to top_200_daily.csv...
INFO : 04/04/2019 06:44:50 PM : Done writing to top_200_daily.csv!!!

In [5]:
from fycharts import SpotifyCharts as ChartsAPI
#import SpotifyCharts as ChartsAPI

obj = ChartsAPI()
obj.top200Daily(output_file = 'top_200_daily.csv', start='2018-01-15', end='2018-01-15')

TypeError: 'module' object is not callable